{% extends 'admin.base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/login.css') }}">
{% endblock %}
{% block body %}

    <div>
        {{ form_start(form) }}
        {{ form_widget(form) }}

        <button class="btn btn-lg btn-primary btn-block" type="submit">Reset password</button>
        {{ form_end(form) }}
        <br>
        <div class="text-center"><a href="{{ url('login') }}">→ Login</a></div>
    </div>
{% endblock %}