{% extends 'profile.html.twig' %}
{% block title %}Papers{% endblock %}
{% block content %}
    <h1 class="pb-3">Papers</h1>
    <h3 id="author-guide-lines">Authors Guidelines</h3>
    <p>You can download "Authors Guidelines for Submitting Papers to <em>the 3rd Conference
            of Modern Wireless Telecommunication Systems"</em> through <a href="{{ asset('assets/files/Paper.pdf') }}">this
            link</a>.
    </p>


    <h3 class="mt-5" id="official-call-for-papers">Official Call for Papers <span class="badge badge-secondary">[ Due to: 13 March]</span> 
    </h3>

    It's time to get involved! Our call for paper has officially started and we warmly welcome you to upload your paper for the conference. Login to your account to upload and manage your papers. Your last chance to upload papers and pay for review is due to date 6 March
    Papers may be accepted only in the following professional issues related to 5G Technology Usages:
    <ul>
        <li>Automative
        </li>
        <li>Internet of Things (IOT)
        </li>
        <li>Smart City
        </li>
        <li>Mobile Broadband
        </li>
        <li>eHealth
        </li>
        <li>eBanking
        </li>
        <li>Smart Grid
        </li>
        <li>Blockchain
        </li>
        <li>Teleoperation</li>
    </ul>

    <h3 class="mt-5" id="important-dates">Important Dates for <em>Call for Paper</em></h3>
    <p>Here is the important dates of call for the paper procedure:</p>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Event</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td> February 24th</td>
            <td> Call for Paper Starts
            </td>
        </tr>
        <tr>
            <td>March 6th</td>
            <td> Final Deadline for Paper Abstract [*]
            </td>
        </tr>
        <tr>
            <td>March 13th</td>
            <td> Final Deadline for Full Paper Upload

            </td>
        </tr>
        </tbody>
    </table>


    <em style="font-size: 0.8em">[*] You can upload the abstract file with the same format as requested for papers in
        the paper submission
        system. After this date, the system will refresh for full paper upload for those who uploaded an abstract for
        full paper submission, if your paper is accepted. (NOTE: You will be notified through an email from the official
        conference site.) It's not neccessary to upload the abstract and you can directly upload full paper with
        abstract included.</em>
    <p>Thank you for your notice and attention. You shall be notified via email of any changes and updates in the
        timeline.</p>


    <h3 class="pt-3 mt-5" id="sending-papers">Sending Papers</h3>
    <p>You have to follow these steps to send your paper:
    <ol style="font-size: 0.9em">
        <li>Send abstract</li>
        <li>Pay for the abstract</li>
        <li>Verify the abstract</li>
        <li>Send paper</li>
        <li>Pay for the paper</li>
    </ol>
    </p>

    <p>Please use the button below to send an abstract of your paper: </p>
    <a class="btn btn-primary" href="{{ url('profile_articles_send') }}" role="button">Send a paper</a> <p class="pt-2"
                                                                                                           style="font-size: 0.8em">
    <em>* Your paper
        would be checked after payment had been made.</em></p>


    <h3 class="pt-5" id="sent-papers">Sent papers</h3>
    <p>Please make sure following defined steps to send your paper.</p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <th scope="row">{{ article.id }}</th>
                <td>{{ article.title }}</td>
                <td><a href="{{ url('profile_view_paper', {'id': article.id}) }}">View steps</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}